<form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Titre :</label>
        <input id="title" formControlName="title" />
        <div *ngIf="title?.errors?.['required']">Titre obligatoire</div>
        <div *ngIf="title?.errors?.['pattern']">Le titre ne doit contenir que des lettres ou des chiffres</div>
        

    </div>

    <div>
        <label for="coverPicture">Photo de couverture :</label>
        <input id="coverPicture" formControlName="coverPicture" />
        <div *ngIf="coverPicture?.errors?.['minlength']">Minimum 5 caractères</div>
    </div>

    <button type="submit" [disabled]="albumForm.invalid">Ajouter</button>
</form>